body {
    background-color: var(--color-background);
    color: var(--color-text-primary);

    font-family: var(--font-body);

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#root {
    width: 100%;
}

main {
    width: 100%;
}

.container {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 2rem;
}