:root {
    --color-background: #f2f3f5;
    --color-surface: #c9e8f2;

    --color-text-primary: #1e266d;
    --color-text-secondary: #5b628c;

    --color-accent: #7b2eff;

    --font-heading: 'Playfair Display', serif;
    --font-body: 'Inter', sans-serif;

    --container-width: 1400px;

    --transition-default: 0.3s ease;
}